
/* all ul's. for submenu's there is an override below */
ul.adminmenum_menu{	
	margin: 0;
	padding: 0;	
	list-style-type: none;	
}

/* level 2 ul. override below */
ul.adminmenum_menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index: 110;
}

/* all li's. for submenu's there is an override below */
ul.adminmenum_menu li{
	float: left;
	margin: 0;
	padding: 0;
	border-right: 1px solid #D8D8D8;
	border-left: 1px solid #fff;	
	background-repeat: no-repeat;
	background-position: 0.35em 50%;	
	position: relative;
	list-style: none;		
}

/* all a's. for submenu's there is an override below */
ul.adminmenum_menu li a{				
	display: block;			
	text-decoration: none;
	padding: 0.35em 1em 0.35em 2em;
	font-size: 1em;
	white-space: nowrap;	
	line-height: 1.6em;
	vertical-align: middle;
	font-weight: bold;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	background-repeat: no-repeat;
	background-position: 0.35em 50%;	
}

/* the line color on the a's on hover */
ul.adminmenum_menu li a:hover, ul.adminmenum_menu li a:focus, ul.adminmenum_menu li a:active {			
	border-color: #025a8d;								
}

/* ul's submenu and deeper */
ul.adminmenum_menu li ul{
	position: absolute;
	left: 0;
	top: 2.25em;
	font-weight: normal;			
	border: 1px solid #ccc;	
	background: #F6F6F6 url('../images/bg_menu.gif') repeat-y left;
	width: 15em;	
}
	
/* all level 2 li's and deeper */	
ul.adminmenum_menu li li{
	float: none;
	border: 0;				
	width: 15em;						
}
	
/* all level 2 a's and deeper */		
ul.adminmenum_menu li li a{				
	display: block;					
	text-decoration: none;											
	padding: 0.35em 1em 0.35em 2.3em;		
	white-space: normal;
	border: 1px solid transparent;
	font-weight: normal;
	background-position: 0.1em 0.37em;
}
				
/* offset level 3 and deeper */
ul.adminmenum_menu li li ul{
	left: 15em;
	top: -1px;
}
	
/* arrow for parents for submenu and deeper */			
ul.adminmenum_menu ul li.parent{	
	background-image: url("../images/arrow.png");
	background-position: 14em 0.8em;	
}

/* all a's */
ul.adminmenum_menu li a,
ul.adminmenum_menu li:hover a{
	display: block;
	color: #333;
}	

/* background color li's on hover */
ul.adminmenum_menu li:hover{
	background-color: #DBE4E9;
}


/* hide submenus */
ul.adminmenum_menu li ul,
ul.adminmenum_menu li:hover li ul,
ul.adminmenum_menu li li:hover li ul,
ul.adminmenum_menu li li li:hover li ul,
ul.adminmenum_menu li li li li:hover li ul,
ul.adminmenum_menu li li li li li:hover li ul,
ul.adminmenum_menu li li li li li li:hover li ul,
ul.adminmenum_menu li li li li li li li:hover li ul{
	display: none;
}

/* show submenus */
ul.adminmenum_menu li:hover ul,
ul.adminmenum_menu li li:hover ul,
ul.adminmenum_menu li li li:hover ul,
ul.adminmenum_menu li li li li:hover ul,
ul.adminmenum_menu li li li li li:hover ul,
ul.adminmenum_menu li li li li li li:hover ul,
ul.adminmenum_menu li li li li li li li:hover ul,
ul.adminmenum_menu li li li li li li li li:hover ul{
	display: block;
}

/* line separator before or after menu. optional see module configuration */
.amm_line_separator{
	height: 1px;
	background: #ccc;
}

/* a's when menu is disabled on edit-pages */
ul.amm_menu_disabled li.amm_li_disabled a,
ul.amm_menu_disabled li.amm_li_disabled a:hover{
	cursor: default;
	border-color: transparent;
	background-color: none;
	color: grey;
}

/* li's hover when menu is disabled on edit-pages */
ul.amm_menu_disabled li.amm_li_disabled:hover{
	background-color: transparent;	
}

/* text separator horizontal */
ul.adminmenum_menu li.adminmenum_text_separator_level_1 span{
	display: block;			
	text-decoration: none;
	padding: 0.35em 1em;
	font-size: 1em;
	white-space: nowrap;	
	line-height: 1.6em;
	vertical-align: middle;
	font-weight: bold;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	background-repeat: no-repeat;
	background-position: 0.35em 50%;	
}

/* text separator vertical */
ul.adminmenum_menu li.adminmenum_text_separator span{
	background-color: #F6F6F6;	
	display: block;					
	text-decoration: none;											
	padding: 0.35em 1em 0.35em 0.3em;		
	white-space: normal;
	border: 1px solid transparent;
	font-weight: normal;		
}

/* separators no background color on hover */
ul.adminmenum_menu li.adminmenum_text_separator_level_1:hover, ul.adminmenum_menu li.adminmenum_text_separator:hover,
ul.adminmenum_menu li.adminmenum_line_separator_level_1:hover, ul.adminmenum_menu li.adminmenum_line_separator:hover{
	background-color: transparent;
}

/* line separator horizontal */
ul.adminmenum_menu li.adminmenum_line_separator_level_1 span{
	display: block;
	padding: 0.35em 0;
	font-size: 1em;
	white-space: nowrap;	
	line-height: 1.6em;	
}

/* line separator vertical */
ul.adminmenum_menu li.adminmenum_line_separator{
	height: 1px;
	background-color: #D8D8D8;	
}

/* icon on top level text separators */
ul.adminmenum_menu li.adminmenum_text_separator_level_1 i{
	display: inline-block;
	background-repeat: no-repeat;
	padding-left: 22px;
	font-style: normal;	
}

/* smaller padding when icon on top level text separators */
ul.adminmenum_menu li.adminmenum_text_separator_level_1 span.adminmenum_text_separator_icon_wrap{
	padding-left: 4px;
}

ul.adminmenum_menu li.adminmenum_text_separator i.adminmenum_text_separator_icon{
	background-repeat: no-repeat;
	padding-left: 22px;
	font-style: normal;	
}




